<div class="flex h-screen">
    <div class="flex flex-col items-center justify-center m-auto">
        <h1 class="text-6xl font-bold text-white pb-12">Welcome</h1>
        <div class ="w-2/3 md:text-2xl text-md text-white text-justify space-y-2">
            <p>Welcome to my site! I am thrilled to have you here and I hope you enjoy your visit.</p>
            <p>
                This site is designed to provide you with a wealth of information and resources on a wide range of topics. Whether you're looking for the latest news and trends, expert advice, or just some inspiration, you'll find it all here.
            </p>
            <p>
                Take your time to explore the different sections of the site and don't hesitate to reach out if you have any questions or feedback. I am always looking for ways to improve the user experience and make this site a valuable resource for you.
            </p>
            <p>
                Thank you for stopping by and I hope you have a great time exploring my site!
            </p>
        </div>
    </div>
</div>   