<div class="w-full md:w-2/3 lg:w-1/2 my-6 mx-auto p-6 bg-gray-200 rounded-xl">
  <div class="bg-gray-100 mb-4 px-6 py-4 border-b border-gray-200 font-bold uppercase text-gray-700">Consumption Chart</div>
  <div class="text-1xl md:text-2xl xl:text-4xl">
    <div class="flex justify-between items-center">
      <div class="w-2/3">
        <div class="flex items-center justify-center">
          <h2 class="mb-4 font-bold font-heading tracking-px-n leading-none">service british ip 10 gig</h2>
        </div>
      </div>
      <div class="w-1/3">
        <a href="3">
          <div class="flex rounded-xl p-5 bg-teal-500 items-center justify-center">
            <p class="text-white text-bold">Ativate</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
