<div class="w-full md:w-2/3 lg:w-1/2 my-6 mx-auto p-6 bg-gray-200 rounded-xl">
  <div class="bg-gray-100 px-6 py-4 mb-4 border-b border-gray-200 font-bold uppercase text-gray-700">Services history</div>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Product name</th>
          <th scope="col" class="px-6 py-3">date</th>
          <th scope="col" class="px-6 py-3">status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">service_india</th>
          <td class="px-6 py-4">2022.12.1</td>
          <td class="px-6 py-4">active</td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">service_usa</th>
          <td class="px-6 py-4">2022.11.1</td>
          <td class="px-6 py-4">deactive</td>
        </tr>
        <tr class="bg-white dark:bg-gray-800">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">service</th>
          <td class="px-6 py-4">2022.10.11</td>
          <td class="px-6 py-4">deactive</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
